<html>

<head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            $.get('/humidity/data', function (response) {
                console.log(response);
                // var data = new google.visualization.DataTable();
                // data.addColumn('number', 'Pollution');
                // data.addColumn('number', 'test');
                // data.addColumn('number', 'Humidity');
                // data.addRows(response);
                var data = google.visualization.arrayToDataTable(response)
                var options = {
                    title: '',
                    width: 900,
                    height: 500,
                    seriesType: 'bars',
                    series: {1: {type: 'line'}}
                };

                var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
                chart.draw(data, options);
            }, 'json');
        }
    </script>
</head>

<body>
    <!--Div that will hold the pie chart-->
    <div id="chart_div"></div>
</body>

</html>